<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>
   
    <div  >
        <span class="inline">
            <strong>Product Code:</strong>
            <p>{{ product.productCode }}</p>
        </span>
    </div>
   
    <div>
        <span class="inline">
            <strong>Name:</strong>
            <p>{{ product.productName }}</p>
        </span>
        
    </div>
   
    <div>
        <span class="inline">
            <strong>Details:</strong>
            <p>{{ product.productDetails }}</p>
        </span>
        
    </div>
   
</div>