<div class="container">
    <h1>Update Product</h1>
  
    <a href="#" routerLink="/product/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="title">Name:</label>
            <input 
                formControlName="productName"
                id="productName" 
                type="text" 
                [(ngModel)]="product.productName"
                class="form-control">
            <div *ngIf="f.productName.touched && f.productName.invalid" class="alert alert-danger">
                <div *ngIf="f.productName.errors.required">Title is required.</div>
            </div>
        </div>
         
        <div class="form-group">
            <label for="productDetails">Details</label>
            <textarea 
                formControlName="productDetails"
                id="productDetails" 
                type="text" 
                [(ngModel)]="product.productDetails"
                class="form-control">
            </textarea>
        </div>

        <div class="form-group">
            <label for="productType">Type:</label>
            <input 
                formControlName="productType"
                id="productType" 
                type="number" 
                [(ngModel)]="product.productType"
                class="form-control">
            <div *ngIf="f.productType.touched && f.productType.invalid" class="alert alert-danger">
                <div *ngIf="f.productType.errors.required">Product Type is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="productPrice">Price:</label>
            <input 
                formControlName="productPrice"
                id="productPrice" 
                type="number" 
                [(ngModel)]="product.productPrice"
                class="form-control">
            <div *ngIf="f.productPrice.touched && f.productPrice.invalid" class="alert alert-danger">
                <div *ngIf="f.productPrice.errors.required">Price is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="productQuantity">Quantity:</label>
            <input 
                formControlName="productQuantity"
                id="productQuantity" 
                type="text" 
                [(ngModel)]="product.productQuantity"
                class="form-control">
            <div *ngIf="f.productQuantity.touched && f.productQuantity.invalid" class="alert alert-danger">
                <div *ngIf="f.productQuantity.errors.required">Quantity is required.</div>
            </div>
        </div>
        
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>